img{
    float:left;
    margin-right: 50px;
    margin-left: 20px;
    width:90px;
}
.headphones{
    float:left;
    margin-right: 50px;
}
.book{
    float:left;
    margin-left: 50px;
    width:10px;
}