header{
    background-color: dimgray;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    text-transform: uppercase;
    color: white;
}
h3{
    background-color: dimgray;
    padding:10px;
    margin:1px;
}
nav :hover{
    color:white;
}
.card{
    width: 30vw;
    background-color: gray;
    margin: 10px;
}