* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
}
.logo {
    font-size: x-large;
    padding: 20px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: right;
}
header a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
.hamburger {
    display: none;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    background: lightgray;
    max-width: 250px;
    margin: 20px;
    height: 15vw;
}
h3{
    background: lightslategray;
    padding: 5px;
}
footer {
    background: gray;
    text-align: center;
    font-size: larger;
} 
@media screen and (max-width=768px) {
    .hamburger {
        display: block;
    }
}